*{
  box-sizing: border-box;
}

.topBar {
  background-color: rgba(13, 71, 161, .6);
  height: 7vh;
}

.navbar {
  float: left;
  display: none;
  width: 25.5vw;
}

#hamburgerMenu {
  float: left;
  padding: 2vw 0 0 3vw;
  font-size: 5vh;
  color: white;
}

.navbar li {
  display: inline;
  list-style: none;
}

.connect {
  float: right;
  width: 30vw;
}

.icon a {
  color: white;
  text-decoration: none;
  margin: 4vh 0;
}

.icon {
  float: right;
  padding: 1vh 3vw 0 0;
  list-style: none;
  font-size: 5vh;
}

#jobDisplay li, #projectDisplay li {
  padding-bottom: 2em;
}

@media all and (min-width: 800px){
  .topBar {
    background-color: rgba(13, 71, 161, .6);
    height: 8vh;
  }
  #hamburgerMenu {
    display: none;
  }
  .navbar {
    display: block;
    padding: 3vh 0 0 0;
    width: 80vw;
    height: 7vh;
  }
  .navItem{
    padding: 2vh 4vw 0 0;
  }
  .connect {
    width: 20vw;
    padding-right: 2vw;
  }
  .icon {
    padding: 2vh 1vw 0 0;
    list-style: none;
    margin: auto;
  }
}
