*{
  box-sizing: border-box;
}

.hookStatement {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 3vh;
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 4vh;
  left: 12vw;
}

@media all and (min-width: 800px){
  .topBar {
    background-color: #0D47A1;
    height: 8vh;
  }
  #hamburgerMenu {
    display: none;
  }
  .navbar {
    display: block;
    padding: 2%;
    width: 90vw;
  }
  .navItem{
    display: inline;
    margin: 0 5vw;
    color: white;
  }
  .connect {
    width: 10vw;
    padding: 1vh 2vw 0 0;
  }
  .icon {
    float: right;
    padding: 2vh 1vw 0 0;
    list-style: none;
    font-size: 3.5vh;
  }
  .fa {
    color: white;
  }
  .hookStatement {
    font-size: 8vh;
    margin-top: 45vh;
    text-align: center;
  }
}
