.navbar {
  float: left;
  display: none;
}

.fa {
  float: left;
}

.navbar li {
  list-style: none;
  padding: 1vh 0;
  font-size: 3vh;
}

.icon {
  float: right;
  padding: 0 .5vw;
  list-style: none;
}
