.navbar {
  float: left;
  display: none;
}

.fa {
  float: left;
}

.navbar li {
  list-style: none;
  font-size: 3vh;
}

.icon {
  float: right;
  padding: 0 .5vw;
  list-style: none;
}

/*@media all and (min-width: 780px){
  .fa-bars {
    display: none;
  }
  .navbar{
    display: inline-block;
  }
}*/
